@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', Arial;
    transition: 1s;
}
ul{
    list-style-type: none;
}
li{
    padding: 0 40px;
    margin: 0 10px;
}
h3{
    margin: 40px 0;
}
.flex{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
/*content*/
.slider{
    display: flex;
    justify-content: center;
    height: 400px;
    width:100%;
}
.slider .container{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 90%;
    border: #e3ddd8 30px solid;
}
.slide{
    height: 100%;
    width: 300%;
    animation: 10s slider infinite;
}
.slide1{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
.slide2{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.slide3{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}
table, th, td {
    border: 1px solid black;
}
.col-md-4 img{
    height: 100%;
    max-width: 540px;
    position: absolute;
    object-fit: cover;
}
.col-md-4{
    padding: 0 0 0 100px;
}
.col-md-8{
    padding: 0 0 0 250px;
}
.g-col-4{
    display: flex;
    justify-content: center;
    padding: 100px 0 50px 0;
}
.grid .card{
    display: flex;
    margin: 0 75px 35px 75px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.grid .card-img-top{
    position: relative;
    transition: 0.5s;
}
.grid .card:hover .card-img-top{
    width: 70%;
}
.grid .card-title{
    font-size: 18px;
    margin: 0 0 10px;
    position: relative;
}
.grid .card-text{
    font-size: 24px;
    margin: 0 0 30px;
    position: relative;
}
.grid .card-button{
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 15px 30px;
    border-radius: 30px;
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    position: relative;
    transition: 0.5s;
    top:70px;
}
.grid .card-button:hover{
    background-color: #5c636a;
    color: white;
}
.grid .card::before{
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #5c636a;
    transform: skewY(345deg);
    position: absolute;
    top: -50%;
    transition: 0.5s;
}
.grid .card:hover::before{
    transform: skewY(390deg);
    top:-70%;
}
.grid .card:hover .card-button{
    top:0;
}
/*footer*/
.back{

    background-color: #1b0c0e;
    color:white;
}
.footer{
    width: 100%;
    height: 100%;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer a{
    color: white;

}
.social i{
    margin: 5px 10px;
}
.information li{
    margin-bottom: 10px;
}
.mediaa{
    display: flex;
    height: 100%;
    max-height: 150px;
    width: 100%;
    justify-content: center;
}
.copy p{
    background-color: #1b0c0e;
    margin: 0;
    padding: 0;
}
.pp p{
    margin-bottom: 0;
}
.back{

    background-color: #1b0c0e;
}
.card-text{
    font-size:24px;
}
#tips{
    border: 1px solid black;
    margin: 20px 0 20px 0;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
#toDark{
display: flex;
    flex-direction:column;
    text-align: center;
    font-size: 24px;
}