@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (min-width: 576px) {
    p{
        font-size: 0.5rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .h1{
        font-size: 1.2rem;
    }
    .h2{
    font-size: 0.9rem;
}
    .h5{
        font-size: 0.6rem;
    }
}

@media (min-width: 768px) {
    p{
        font-size: 0.6rem;
    }
    h3{
        font-size: 1rem;
    }
    .h1{
        font-size: 1.7rem;
    }
    .h2{
        font-size: 1.1rem;
    }
    .h5{
        font-size: 0.75rem;
    }

    .display-4{
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    p{
        font-size: 0.75rem;
    }
    h3{
        font-size: 1.25rem;
    }
    .h1{
        font-size: 2.5rem;
    }
    .h2{
        font-size: 2rem;
    }
    .h5{
        font-size: 1rem;
    }

    .display-4{
        font-size: 3.2rem;
    }
}
@media (min-width: 1200px) {
    p{
        font-size: 1rem;
    }
    h3{
        font-size: 1.75rem;
    }
    .h1{
        font-size: 3rem;
    }
    .h2{
        font-size: 2.5rem;
    }
    .h5{
        font-size: 1.25rem;
    }
    .display-4{
        font-size: 3.5rem;
    }
}
body{
    font-family: 'Quicksand', Arial;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
li{
    padding: 0 40px;
    margin: 0 10px;
}
h3{
    margin: 40px 0;
}
.flex{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 992px){
    *{
        font-size: 1.2rem;
    }
}
/*header*/
/*content*/
.carousel-item{
    position: relative;
}
.slide{
    border: 12px solid #e3ddd8;
    border-radius: 6px;
}
.slide1{
    position: absolute;
    height: 100%;
    width: 40%;
    border-radius: 0 20% 20% 0;
    background-color: #e3ddd8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide2{
    position: absolute;
    height: 50%;
    width: 40%;
    background-color: white;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.slide3{
    position: absolute;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}
.carousel-item a{
    text-decoration: none;
    color: black;
}
.watch{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    border-radius: 20px;
}
/*footer*/
@media (min-width: 576px) {
    .footer p{
        font-size: 0.5rem;
    }
    .footer h3{
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .footer p{
        font-size: 0.6rem;
    }
    .footer h3{
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .footer p{
        font-size: 0.75rem;
    }
    .footer h3{
        font-size: 1.25rem;
    }
}
@media (min-width: 1200px) {
    .footer p{
        font-size: 1rem;
    }
    .footer h3{
        font-size: 1.75rem;
    }
}

.back{

    background-color: #1b0c0e;
}
.footer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 10px;
}
.footer a{
    color: white;

}
.social i{
    margin: 5px 10px;
}
.information li{
    margin-bottom: 10px;
}
.media{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.pp p{
    margin-bottom: 0;
}
/***/
.grid131{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
}
.goods .grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    justify-content: space-around;

}
.cards {
    margin: 0 20px 70px 20px;
}
.cards__row{
    margin: 20px 20px 70px 20px;
    display: flex;
}
.cards__column {
    flex: 0 1 33.333%;
    padding: 0 10px;

}
.cards__image {
    background-color: white;
    margin: 0 0 1px 0;
    padding: 0 0 100% 0;
    overflow: hidden;
    position: relative;
    height: 100%;

}
.cards__image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__item {

}
#suret{
    background-color: white;
    margin: 0 0 1px 0;
    padding: 0 0 30% 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #e3ddd8;
    color: black;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.card__image{
    padding: 0 0 10px 0;
    height: 100%;
    width: 100%;
    position: relative;
    transition: 0.5s;
}
.card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card__name{
    font-size: 18px;
    top:5px;
    position: relative;
    transition: 0.5s;
}
.card__price{
    top:3px;
    font-size: 20px;
    position: relative;
    transition: 0.5s;
}
.card__btn{
    border: none;
    cursor: pointer;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius:30px;
    color:inherit;
    text-transform: inherit;
    font-weight: inherit;
    position: relative;
    transition: 0.5s;
    top:100px;
}
.card__btn:hover{
    background-color: gray;

}
.card:hover .card__btn{
    top:0;
}

.card::before{
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-color: lightyellow;
    transform: skewY(345deg);

    position: absolute;
    top: -50%;
    transition: 0.5s;
}
.card:hover::before{
    transform: skewY(390deg);
    top: -70%;
}
.card:hover .card__image{
    width: 80%;
}
.card:hover .card__price{
    top:-10px;
}
.card:hover .card__name{
    top:-10px;
}
